<div class="label">{{company.name}}</div>
<div class="info">{{company.category}}</div>
<app-stars [rate] = "company.rate"></app-stars>
<button class="write-review" routerLink = "/" [queryParams] = "{id: company.id}">Оставить отзыв</button>
<div class="reviews">
  <div class="review" *ngFor="let review of reviewList">
    <div class="review__text">{{review.Text}}</div>
    <div class="review__rating">stars{{review.rating}}</div>
    <div class="review__rel">{{review.relevance}}</div>
  </div>
</div>