.half-star {
  height: 30px;
}
.half-star-container {
  height: 30px;
}
.half-star-container:nth-child(even) {
  transform: rotate(180deg);
}
.half-star:nth-child(even) {
  transform: rotate(180deg);
}