:host {
  margin: 10px 0;
}
.half-star {
  height: 30px;
}
.half-star-container:nth-child(even) img{
  transform: rotateY(180deg);
}
.half-star:hover {
  background-image: url('../../assets/img/starf.png')
}
.small {
  transform: scale(0.5);
  margin-right: -35px;
}