
<input class="search-input" placeholder="Search" #searchInput type="text" (keyup)="search(searchInput.value)">
<div class="search-result">
  <div class="search-result__elem" *ngFor="let elem of searchResult" [ngClass]="elem.type == 'cat' ? 'category': 'company'" (click)="selectObj(elem)">
    {{elem.value}}
  </div>
</div>
<div *ngIf="companyChoosen" class="company-card" routerLink="/company" [queryParams] = "{id: company.id}">
  <img class="company-card__logo" [src]="'../../assets/img/logoC' + company.id + '.png'">
  <div class="company-card__text">
    <div class="category">{{company.category}}</div>
    <div class="name">{{company.name}}</div>
  </div>
  <img src="../../assets/img/cross.png" alt="close" class="company-card__close" (click) = "clear()">
</div>
<app-stars [allowed]="companyChoosen"></app-stars>
<textarea [disabled]="!companyChoosen" class="review-input" #reviewText name="review" id="" cols="30" rows="10"></textarea>
<button [disabled]="!companyChoosen" class="send-review" (click)="sendReview(reviewText.value)">Отправить отзыв</button>
