
<input class="search-input" placeholder="Search" #searchInput type="text" (keyup)="search(searchInput.value)" (focusin)="showList = true" >
<div class="search-result" [ngClass]="showList ? 'search-result_open' : 'search-result_close'">
  <div class="search-result__elem" *ngFor="let elem of searchArray | filter : searchInput.value" 
      [ngClass]="elem.type == 'category' ? 'category': 'company'" 
      [routerLink] = "(elem.type == 'category') ? '/category' : '/'" 
      [queryParams] = "{id: elem.id}"
      (click) = "showList = false">
    {{elem.name}}
  </div>
</div>
<div *ngIf="companyChoosen" class="company-card" routerLink="/company" [queryParams] = "{id: company.id}">
  <img class="company-card__logo" [src]="'../../assets/img/logoC' + company.id + '.png'">
  <div class="company-card__text">
    <div class="category">{{company.category}}</div>
    <div class="name">{{company.name}}</div>
  </div>
  <img src="../../assets/img/cross.png" alt="close" class="company-card__close" (click) = "clear()">
</div>
<app-stars [allowed]="companyChoosen"></app-stars>
<textarea [disabled]="!companyChoosen" class="review-input" #reviewText name="review" id="" cols="30" rows="10"></textarea>
<button [disabled]="!companyChoosen" class="send-review" (click)="sendReview(reviewText.value)">Отправить отзыв</button>
